.hover-primary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            color: $primary !important;
        }
    }
}
.hover-secondary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            color: $secondary !important;
        }
    }
}
.hover-warning {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            color: $warning !important;
        }
    }
}

.hover-shadow-primary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            box-shadow: 0 0 10px $primary;
        }
    }
}

.hover-shadow-secondary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            box-shadow: 0 0 0 2px $secondary;
        }
    }
}

.hover-shadow {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            box-shadow: 0 2px 16px rgba(#000, 0.25);
        }
    }
}

.hover-link {
    @media (hover: hover) {
        a:is(:hover, :focus-visible:focus) &,
        &:is(:hover, :focus-visible:focus) {
            text-decoration: underline !important;
            text-decoration-thickness: 2px;
            text-underline-offset: 4px;
        }
    }
}

.hover-thumb-scale {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            .thumb {
                transform: scale(1.1);
            }
        }
    }
}
.hover-bg-primary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            background-color: $primary !important;
        }
    }
}

.hover-bg-secondary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            background-color: $secondary !important;
        }
    }
}

.hover-bg-secondary-10 {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            background-color: rgba($secondary, 0.1) !important;
        }
    }
}

.hover-bg-white {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            background-color: $white !important;
        }
    }
}

.hover-bg-black-60 {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            background-color: rgba(#000, 0.5) !important;
        }
    }
}

.hover-white {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            color: $white !important;
        }
    }
}

.hover-default {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            color: $default !important;
        }
    }
}

.hover-op-100 {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            .op-0 {
                opacity: 1;
            }
        }
    }
}

.hover-border-secondary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            border-color: $secondary !important;
        }
    }
}

.hover-shadow-border-primary {
    @media (hover: hover) {
        &:is(:hover, :focus-visible:focus) {
            box-shadow: 0 0 0 2px $primary;
        }
    }
}

.hover-border {
    position: relative;

    &:before,
    &:after {
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        top: -1px;
        left: -1px;
        z-index: 1;
        border: 0 #dea248 solid;
        transition:
            opacity 0.5s,
            transform 0.5s;
        @include size(calc(100% + 2px), calc(100% + 2px));
    }

    &.bdw-2px {
        &:before,
        &:after {
            top: -2px;
            left: -2px;
            @include size(calc(100% + 4px), calc(100% + 4px));
        }

        &:before {
            border-width: 2px 0;
        }

        &:after {
            border-width: 0 2px;
        }
    }

    &:before {
        transform: scaleX(0);
        border-width: 1px 0;
    }

    &:after {
        transform: scaleY(0);
        border-width: 0 1px;
    }

    @include media-breakpoint-up(xl) {
        a:hover &,
        a:focus-visible:focus &,
        &:hover,
        &:focus-visible:focus {
            &:before,
            &:after {
                transform: none;
                opacity: 1;
            }

            &.rounded {
                &:before,
                &:after {
                    border-radius: 4px;
                    transition:
                        opacity 0.5s,
                        transform 0.5s,
                        border-radius 0.2s 0.1s;
                }

                &.bdw-2px {
                    &:before,
                    &:after {
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}
