@font-face {
    font-family: iconfont;
    src: url("./fonts/iconfont.eot");src: url("./fonts/iconfont.eot#iefix") format("embedded-opentype"),
             url("./fonts/iconfont.woff2") format("woff2"),
             url("./fonts/iconfont.woff") format("woff"),
             url("./fonts/iconfont.ttf") format("truetype");
}

%iconfont-base {
    font-family: "iconfont", sans-serif;
}

@mixin iconfont-base {
    font-family: "iconfont", sans-serif;
}

@function iconfont-char($name){
    $char: "";

    @if $name == add-list-check {
        $char:"\554a";
    }

    @if $name == add-list {
        $char:"\554b";
    }

    @if $name == add {
        $char:"\554c";
    }

    @if $name == adv {
        $char:"\554d";
    }

    @if $name == airplane {
        $char:"\554e";
    }

    @if $name == album {
        $char:"\554f";
    }

    @if $name == alert-square {
        $char:"\5550";
    }

    @if $name == anchor {
        $char:"\5551";
    }

    @if $name == arrow-back {
        $char:"\5552";
    }

    @if $name == arrow-down {
        $char:"\5553";
    }

    @if $name == arrow-go {
        $char:"\5554";
    }

    @if $name == arrow-left {
        $char:"\5555";
    }

    @if $name == arrow-right {
        $char:"\5556";
    }

    @if $name == arrow-up {
        $char:"\5557";
    }

    @if $name == ask {
        $char:"\5558";
    }

    @if $name == audio {
        $char:"\5559";
    }

    @if $name == avatar {
        $char:"\555a";
    }

    @if $name == back-all {
        $char:"\555b";
    }

    @if $name == back-top {
        $char:"\555c";
    }

    @if $name == bell-square {
        $char:"\555d";
    }

    @if $name == bell {
        $char:"\555e";
    }

    @if $name == between {
        $char:"\555f";
    }

    @if $name == bike {
        $char:"\5560";
    }

    @if $name == bug {
        $char:"\5561";
    }

    @if $name == bus-stop {
        $char:"\5562";
    }

    @if $name == bus {
        $char:"\5563";
    }

    @if $name == calendar {
        $char:"\5564";
    }

    @if $name == camera {
        $char:"\5565";
    }

    @if $name == car {
        $char:"\5566";
    }

    @if $name == check {
        $char:"\5567";
    }

    @if $name == checked {
        $char:"\5568";
    }

    @if $name == clapperboard {
        $char:"\5569";
    }

    @if $name == clock-square {
        $char:"\556a";
    }

    @if $name == clock {
        $char:"\556b";
    }

    @if $name == close {
        $char:"\556c";
    }

    @if $name == coupon {
        $char:"\556d";
    }

    @if $name == day-add {
        $char:"\556e";
    }

    @if $name == day-range {
        $char:"\556f";
    }

    @if $name == day-remove {
        $char:"\5570";
    }

    @if $name == debug {
        $char:"\5571";
    }

    @if $name == delete {
        $char:"\5572";
    }

    @if $name == dialog {
        $char:"\5573";
    }

    @if $name == distance {
        $char:"\5574";
    }

    @if $name == dm {
        $char:"\5575";
    }

    @if $name == doc {
        $char:"\5576";
    }

    @if $name == document {
        $char:"\5577";
    }

    @if $name == dollar {
        $char:"\5578";
    }

    @if $name == double-arrow {
        $char:"\5579";
    }

    @if $name == download {
        $char:"\557a";
    }

    @if $name == drone {
        $char:"\557b";
    }

    @if $name == drop {
        $char:"\557c";
    }

    @if $name == duplicate {
        $char:"\557d";
    }

    @if $name == earth {
        $char:"\557e";
    }

    @if $name == exclamation {
        $char:"\557f";
    }

    @if $name == expand {
        $char:"\5580";
    }

    @if $name == facebook-circle {
        $char:"\5581";
    }

    @if $name == facebook {
        $char:"\5582";
    }

    @if $name == faq {
        $char:"\5583";
    }

    @if $name == fax {
        $char:"\5584";
    }

    @if $name == file {
        $char:"\5585";
    }

    @if $name == flickr {
        $char:"\5586";
    }

    @if $name == fork {
        $char:"\5587";
    }

    @if $name == gas {
        $char:"\5588";
    }

    @if $name == glasses {
        $char:"\5589";
    }

    @if $name == global {
        $char:"\558a";
    }

    @if $name == guide-square {
        $char:"\558b";
    }

    @if $name == hamburger {
        $char:"\558c";
    }

    @if $name == heart-fill {
        $char:"\558d";
    }

    @if $name == heart-stroke {
        $char:"\558e";
    }

    @if $name == heart {
        $char:"\558f";
    }

    @if $name == home {
        $char:"\5590";
    }

    @if $name == hook {
        $char:"\5591";
    }

    @if $name == info-center {
        $char:"\5592";
    }

    @if $name == info {
        $char:"\5593";
    }

    @if $name == instagram {
        $char:"\5594";
    }

    @if $name == landing {
        $char:"\5595";
    }

    @if $name == language-en {
        $char:"\5596";
    }

    @if $name == language-tw {
        $char:"\5597";
    }

    @if $name == line {
        $char:"\5598";
    }

    @if $name == link-out {
        $char:"\5599";
    }

    @if $name == link {
        $char:"\559a";
    }

    @if $name == list {
        $char:"\559b";
    }

    @if $name == live-camera {
        $char:"\559c";
    }

    @if $name == locate {
        $char:"\559d";
    }

    @if $name == location-add {
        $char:"\559e";
    }

    @if $name == location-outline {
        $char:"\559f";
    }

    @if $name == location-remove {
        $char:"\55a0";
    }

    @if $name == location {
        $char:"\55a1";
    }

    @if $name == lock {
        $char:"\55a2";
    }

    @if $name == logout {
        $char:"\55a3";
    }

    @if $name == longarrow-right {
        $char:"\55a4";
    }

    @if $name == magnifier {
        $char:"\55a5";
    }

    @if $name == mail {
        $char:"\55a6";
    }

    @if $name == map {
        $char:"\55a7";
    }

    @if $name == minus {
        $char:"\55a8";
    }

    @if $name == moon {
        $char:"\55a9";
    }

    @if $name == more {
        $char:"\55aa";
    }

    @if $name == navigate {
        $char:"\55ab";
    }

    @if $name == navigation {
        $char:"\55ac";
    }

    @if $name == ok {
        $char:"\55ad";
    }

    @if $name == pano {
        $char:"\55ae";
    }

    @if $name == parent-child {
        $char:"\55af";
    }

    @if $name == parking {
        $char:"\55b0";
    }

    @if $name == password {
        $char:"\55b1";
    }

    @if $name == pause {
        $char:"\55b2";
    }

    @if $name == pencil {
        $char:"\55b3";
    }

    @if $name == photo {
        $char:"\55b4";
    }

    @if $name == quest {
        $char:"\55b5";
    }

    @if $name == question {
        $char:"\55b6";
    }

    @if $name == rain {
        $char:"\55b7";
    }

    @if $name == reload {
        $char:"\55b8";
    }

    @if $name == remove {
        $char:"\55b9";
    }

    @if $name == rent {
        $char:"\55ba";
    }

    @if $name == save {
        $char:"\55bb";
    }

    @if $name == scene-list-01 {
        $char:"\55bc";
    }

    @if $name == scene-list-02 {
        $char:"\55bd";
    }

    @if $name == scene-list-03 {
        $char:"\55be";
    }

    @if $name == scene-list-04 {
        $char:"\55bf";
    }

    @if $name == scene-list-06 {
        $char:"\55c0";
    }

    @if $name == scene-list-07 {
        $char:"\55c1";
    }

    @if $name == scene-list-08 {
        $char:"\55c2";
    }

    @if $name == service-center {
        $char:"\55c3";
    }

    @if $name == service {
        $char:"\55c4";
    }

    @if $name == share {
        $char:"\55c5";
    }

    @if $name == shrink {
        $char:"\55c6";
    }

    @if $name == sitemap {
        $char:"\55c7";
    }

    @if $name == speaker {
        $char:"\55c8";
    }

    @if $name == spot-square {
        $char:"\55c9";
    }

    @if $name == star-sm {
        $char:"\55ca";
    }

    @if $name == star {
        $char:"\55cb";
    }

    @if $name == stopwatch {
        $char:"\55cc";
    }

    @if $name == store {
        $char:"\55cd";
    }

    @if $name == street {
        $char:"\55ce";
    }

    @if $name == sunrise {
        $char:"\55cf";
    }

    @if $name == surprise {
        $char:"\55d0";
    }

    @if $name == take-off {
        $char:"\55d1";
    }

    @if $name == taxi {
        $char:"\55d2";
    }

    @if $name == tel-square {
        $char:"\55d3";
    }

    @if $name == tel {
        $char:"\55d4";
    }

    @if $name == temperature {
        $char:"\55d5";
    }

    @if $name == thumb {
        $char:"\55d6";
    }

    @if $name == tick {
        $char:"\55d7";
    }

    @if $name == time {
        $char:"\55d8";
    }

    @if $name == toilet {
        $char:"\55d9";
    }

    @if $name == trialgle {
        $char:"\55da";
    }

    @if $name == triangle-right {
        $char:"\55db";
    }

    @if $name == triangle-up {
        $char:"\55dc";
    }

    @if $name == triangle {
        $char:"\55dd";
    }

    @if $name == twitter {
        $char:"\55de";
    }

    @if $name == umbrella {
        $char:"\55df";
    }

    @if $name == upload {
        $char:"\55e0";
    }

    @if $name == uv {
        $char:"\55e1";
    }

    @if $name == video {
        $char:"\55e2";
    }

    @if $name == view {
        $char:"\55e3";
    }

    @if $name == warn-circle {
        $char:"\55e4";
    }

    @if $name == warn-square {
        $char:"\55e5";
    }

    @if $name == warn {
        $char:"\55e6";
    }

    @if $name == webio {
        $char:"\55e7";
    }

    @if $name == wifi {
        $char:"\55e8";
    }

    @if $name == wt-01 {
        $char:"\55e9";
    }

    @if $name == wt-02 {
        $char:"\55ea";
    }

    @if $name == wt-03 {
        $char:"\55eb";
    }

    @if $name == wt-04 {
        $char:"\55ec";
    }

    @if $name == wt-05 {
        $char:"\55ed";
    }

    @if $name == wt-06 {
        $char:"\55ee";
    }

    @if $name == wt-07 {
        $char:"\55ef";
    }

    @if $name == wt-08 {
        $char:"\55f0";
    }

    @if $name == wt-09 {
        $char:"\55f1";
    }

    @if $name == wt-10 {
        $char:"\55f2";
    }

    @if $name == wt-11 {
        $char:"\55f3";
    }

    @if $name == wt-12 {
        $char:"\55f4";
    }

    @if $name == wt-13 {
        $char:"\55f5";
    }

    @if $name == wt-14 {
        $char:"\55f6";
    }

    @if $name == wt-15 {
        $char:"\55f7";
    }

    @if $name == wt-16 {
        $char:"\55f8";
    }

    @if $name == wt-17 {
        $char:"\55f9";
    }

    @if $name == wt-18 {
        $char:"\55fa";
    }

    @if $name == wt-19 {
        $char:"\55fb";
    }

    @if $name == wt-20 {
        $char:"\55fc";
    }

    @if $name == wt-21 {
        $char:"\55fd";
    }

    @if $name == wt-22 {
        $char:"\55fe";
    }

    @if $name == wt-23 {
        $char:"\55ff";
    }

    @if $name == wt-24 {
        $char:"\5600";
    }

    @if $name == wt-25 {
        $char:"\5601";
    }

    @if $name == wt-26 {
        $char:"\5602";
    }

    @if $name == wt-27 {
        $char:"\5603";
    }

    @if $name == wt-28 {
        $char:"\5604";
    }

    @if $name == wt-29 {
        $char:"\5605";
    }

    @if $name == wt-30 {
        $char:"\5606";
    }

    @if $name == wt-31 {
        $char:"\5607";
    }

    @if $name == wt-32 {
        $char:"\5608";
    }

    @if $name == wt-33 {
        $char:"\5609";
    }

    @if $name == wt-34 {
        $char:"\560a";
    }

    @if $name == wt-35 {
        $char:"\560b";
    }

    @if $name == wt-36 {
        $char:"\560c";
    }

    @if $name == wt-37 {
        $char:"\560d";
    }

    @if $name == wt-38 {
        $char:"\560e";
    }

    @if $name == wt-39 {
        $char:"\560f";
    }

    @if $name == wt-41 {
        $char:"\5610";
    }

    @if $name == wt-42 {
        $char:"\5611";
    }

    @if $name == youtube {
        $char:"\5612";
    }

    @return $char;
}