@import './bootstrap/functions';
@import './bootstrap/variables';
@import './bootstrap/mixins';
@import './mixin';

.full-text-search {
    .gsc-control-cse {
        padding: 0;
    }
    .gsc-search-button-v2 {
        height: 40px;
        border-radius: 4px;
        background-color: $primary;
        border: none;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .gsc-input-box {
        height: 42px;
        border-radius: 4px;
    }

    table.gsc-input {
        height: 40px;
    }
    @include media-breakpoint-up(xl) {
        .gsc-search-button-v2:hover,
        .gsc-search-button-v2:focus-visible:focus {
            background-color: rgba($primary, 0.8);
        }
    }
}
.gsc-adBlock {
    display: none !important;
}
