.header-wrapper {
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        transition: opacity 0.3s;
        pointer-events: none;
    }
    &:before {
        height: 100%;
        background-color: #fdf9ee;
        opacity: 0;
    }
    &:after {
        height: 64px;
        background: linear-gradient(
            to bottom,
            rgba(#000, 0.8) 0%,
            rgba(#000, 0) 100%
        );
    }
    &.white {
        &:before {
            opacity: 1;
        }
        &:after {
            opacity: 0;
        }
    }
    @include media-breakpoint-up(xl) {
        &:after {
            height: 104px;
        }
    }
}
.main-logo {
    @include size(119px, 35px);
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: center no-repeat;
        background-size: cover;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    &:before {
        background-image: url(/images/global/main-logo-white.png);
    }
    &:after {
        background-image: url(/images/global/main-logo.png);
        opacity: 0;
    }

    .white & {
        &:before {
            opacity: 0;
        }
        &:after {
            opacity: 1;
        }
    }
    /* @include media-breakpoint-down(lg) {
        position: absolute;
        margin-top: 1px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } */
    @include media-breakpoint-up(xl) {
        position: relative;
        @include size(200px, 56px);
    }
}
