.site-func-blk {
    @include media-breakpoint-down(lg) {
        position: relative;
        transition: all 0.3s 0.2s;

        &.hidden {
            transition: all 0.6s;
            opacity: 0;
            transform: translateY(50%);
        }
    }

    @include media-breakpoint-up(xl) {
        height: 24px;
    }
}

.site-func-list {
    @include media-breakpoint-down(lg) {
        .item {
            border-bottom: 1px $border-color solid;
        }
    }
}

.site-func-link {
    @include media-breakpoint-down(lg) {
        color: $default !important;
    }

    @include media-breakpoint-up(xl) {
        color: $white !important;
        .white & {
            color: $info !important;
        }

        .open & {
            color: $default !important;
        }
    }
}

.lang-list-blk {
    @include media-breakpoint-down(lg) {
        width: 100%;

        .lang-list {
            background: none !important;
        }

        .site-func-link {
            height: 40px;
            justify-content: center;
            border: 1px $border-color solid;
        }
    }

    @include media-breakpoint-up(xl) {
        position: relative !important;
        z-index: 2000;
        .lang-list {
            position: absolute;
            right: -8px;
            top: 24px;
            min-width: 100px;
        }

        .site-func-link {
            padding: 8px 16px !important;
            color: $default !important;
        }

        &:hover,
        &:focus-within {
            .lang-list {
                display: block !important;
                z-index: 2000;
            }
        }

        .lang-label {
            color: $white !important;

            .white & {
                color: $info !important;
            }
        }

        /* .header-wrapper:hover & {
            .site-func-link {
                color: #fff !important;
            }
            .lang-label {
                color: $default !important;
            }
        } */
    }
}

[data-label] {
    @include media-breakpoint-down(lg) {
        position: relative;
        //margin-top: -1px;
        //z-index: 2000;
        //margin-top: -1px !important;
        //border-top: 2px $gray-300 solid !important;

        &:before {
            content: attr(data-label);
            //background-color: $light;
            display: flex;
            align-items: center;
            // justify-content: center;
            //width: 100%;
            margin-top: 8px;
            margin-left: 16px;
            margin-right: 16px;
            padding-top: 16px;
            //height: 40px;
            border-top: 1px $gray-200 solid;
        }
    }
}
